# @TODO Copy this file and name it behat.yml.
# Local overrides to the default profile
default:
  extensions:
    Behat\MinkExtension:
      # URL of the site when accessed locally.
      base_url: http://dixon.docksal
      # Configure browser to be used. Browser must be available on wd_host.
      # Stick with chrome by default. It's 2x faster than firefox or phantomjs (your results may vary).
      browser_name: chrome
      selenium2:
        wd_host: http://drupalvm.dev:4444/wd/hub
        capabilities: { "browser": "chrome", "version": "*" }
    Drupal\DrupalExtension:
      drupal:
        # @TODO Must set this Drupal root on the host machine.
        # Local site docroot.
        drupal_root: '/var/www/dixon/web'
      drush:
        # @TODO Must set this Drupal root on the host machine.
        # Local site docroot.
        root: '/var/www/dixon/web'

imports:
  - behat.common.yml